@import "@src/styles/settings";

.card {
   border: 1px solid #e2e8f0;
   border-radius: rem(10);
   box-shadow: var(--box-shadow);
   overflow: hidden;
}
.image {
   display: block;
   aspect-ratio: 300 / 220;

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
.footer {
   display: flex;
   column-gap: rem(8);
   align-items: center;
   padding: rem(16);
   line-height: 140%;
   background-color: #fff;
}
.user {
   &Icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(48);
      height: rem(48);
      flex: 0 0 rem(48);
      border-radius: 100%;
      overflow: hidden;
      background-color: #e1e1e1;
   }
   &Name {
      font-size: rem(14);
      color: #475569;
   }
}
.info {
}
.title {
   color: #0f172a;
}
