@import "@src/styles/settings";

.title {
   font-weight: 700;
   @include adaptiveValue("font-size", 40, 30);
   text-align: center;
   color: #0f172a;

   &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 56, 20);
   }
}
.list {
   font-size: rem(20);
   counter-reset: step 0;

   &:not(:last-child) {
      margin-bottom: rem(20);
   }
}
.step {
   display: flex;
   justify-content: space-between;
   gap: rem(10) rem(30);

   @media (max-width: $bp3) {
      flex-direction: column;
   }

   &:not(:last-child) {
      margin-bottom: rem(32);
   }
}
.description {
   flex: 0 1 53%;
   counter-increment: step 1;
   &::before {
      font-weight: 700;
      content: counter(step) ". ";
   }
}
.picture {
   flex: 0 1 43.98%;
   max-width: rem(563);

   @media (max-width: $bp3) {
      align-self: center;
   }

   img {
      width: 100%;
      object-fit: cover;
   }
}
