@use "sass:math";

$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1440; // Ширина макета

$md1: 1310;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

@import "./mixins";

// <- Ширины в em (breakpoints) ->
$bp1: em($md1); // { ПК, ноутбуки, планшеты в альбомном положении }
$bp2: em($md2); // { Планшеты, телефоны в альбомном положении }
$bp3: em($md3); // { Телефоны L }
$bp4: em($md4); // { Телефоны S }
